@model IEnumerable<MagicPlaces_WEB.Models.DTO.PlacesDTO>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Your Places</h1>
        <p class="mb-4">Here is where you, only you, can save the Places you've gone.
            With Places, I mean Memories! 
            Rate them to help you find the best one and repeat things with who you want. 
            Go on, add Places and see them here.</p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <h3 class="col-2 font-weight-bold text-primary">Places</h3>
                    <h6 class="col-4 font-weight-bold text-gray-700"> Do you remember how it felt in those places?</h6>

                    <a asp-controller="Places" asp-action="CreatePlace" class="btn btn-outline-primary col-2 offset-4"><i class="bi bi-plus-square-fill"></i> New Place </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Commentary</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name.ToUpper()</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-star-fill text-gray-500 me-1"></i>
                                             @item.Rate
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.Comment != null)
                                        {
                                            <button type="button" class="btn btn-link  motivo-btn" data-toggle="modal" data-target="#motivoModal" data-motivo="@item.Comment">
                                                @if (item.Comment.Length > 30)
                                                {
                                                    @Html.Raw(item.Comment.Substring(0, 30) + "...")
                                                }
                                                else
                                                {
                                                    @item.Comment
                                                }
                                            </button>
                                        }
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a asp-controller="Places" asp-action="EditPlace" asp-route-Id="@item.Id" class="btn btn-outline-primary me-2">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a onclick="showDeleteConfirmationModal(@item.Id)" class="btn btn-outline-danger">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="motivoModal" tabindex="-1" role="dialog" aria-labelledby="motivoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Commentary</h6>
                    </div>
                    <div class="card-body"" id="motivoModalBody"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteConfirmationModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="card shadow mb-4  border-bottom-danger">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Delete Place</h6>
                    </div>
                    <div class="card-body">
                        Are you sure you want to delete this part of your memory?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keep</button>
                        <a id="confirmDeleteBtn" asp-controller="Places" asp-action="DeletePlace" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $(document).on('click', '.motivo-btn', function () {
            var motivo = $(this).data('motivo');
            $('#motivoModalBody').text(motivo);
            $('#motivoModal').modal('show');
        });
    });

    var deleteConfirmationModal;

    function showDeleteConfirmationModal(itemId) {
        
        if (!deleteConfirmationModal) {
            deleteConfirmationModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
        }
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
        confirmDeleteBtn.setAttribute('asp-route-Id', parseInt(itemId, 10).toString());
        deleteConfirmationModal.show();
    }
</script>
    }
